.main-screen {
    background: #31353e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white
}

footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 12px;
}

.no-arrow-dropdown .dropdown-toggle::after {
    display: none;
}